<style type="text/css">
	div.promotion_aurora {
		width: 800px;
	}
		div.promotion_aurora > div.aurora_content {
			line-height: 18px;
		}
		
			div.promotion_aurora > div.aurora_content div.box {
				border: 1px solid #ccc;
				padding: 10px;
			}
			
				div.promotion_aurora > div.aurora_content div.box table {
					margin: 0px;
					line-height: 16px;
				}
				
				div.promotion_aurora > div.aurora_content div.box table th {
					width: 110px;
				}
</style>
<div class="promotion_aurora">
	<div class="aurora_content">
		<div class="left">
			<div class="box" style="width: 280px; margin-bottom: 10px;">{owner}</div>
			<div class="box" style="width: 280px; font-size: 12px;">{social}</div>
		</div>
		<div class="right">
			<div class="box" style="width: 466px;">{event}</div>
		</div>
		<div class="clear"></div>
	</div>
</div>